<app-header>
  <div>
    <button class="header-nav-button" routerLink="/client/home" routerLinkActive="active">
      <label class="header-nav-button-label">Home</label>
    </button>
    <button class="header-nav-button" routerLink="/client/movies" routerLinkActive="active">
      <label class="header-nav-button-label">Movies</label>
    </button>
    <button class="header-nav-button" routerLink="/client/series" routerLinkActive="active">
      <label class="header-nav-button-label">Series</label>
    </button>
    <button class="header-nav-button" routerLink="/client/favorites" routerLinkActive="active">
      <label class="header-nav-button-label">Favorites</label>
    </button>
  </div>
</app-header>
<router-outlet></router-outlet>
