/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: plus-jakarta-sans;
  src: url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

:root {
  --bg: #03080d;
  --bg-light: #091826;
  --main: #00aeef;
  --main-med: #2186d9;
  --main-dark: #1c76bd;
  --accent: #c9002f;
  --accent-med: #b8002a;
  --accent-dark: #a60026;
  --logo-fill: linear-gradient(45deg, var(--main-dark) 0%, var(--main) 100%);
  --logo-fill-accent: linear-gradient(45deg, var(--accent-dark) 0%, var(--accent) 100%);
  --font: plus-jakarta-sans;
  --gold: #ffd700;
  --dark-white: #bbb;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  /* TODO: remove 'overflow: scroll;' after dev */
  overflow: scroll;
  background-color: var(--bg);
}

img, svg {
  pointer-events: none;
  user-select: none;
}


/* Global Buttons */
.header-nav-button {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 4pt;
  padding: 1em;
  background-color: transparent;
  border: none;
  border-radius: .5em;
  color: var(--dark-white);
  transition: color .2s, background-color .2s;
}
.header-nav-button:hover {
  color: #fff;
}
.header-nav-button.active > label.header-nav-button-label {
  background: var(--logo-fill);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
